#!/usr/bin/make -f

# Enable motion estimation, MMX and SSE on amd64 architecture
ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), "amd64"))
	EXTRA_CONFIGURE_OPTS += --enable-motion_est --enable-mmx --enable-sse
else
	EXTRA_CONFIGURE_OPTS += --disable-motion_est --disable-mmx --disable-sse
endif

DEB_CONFIGURE_EXTRA_FLAGS := \
	--enable-gpl \
	$(EXTRA_CONFIGURE_OPTS) \
	--avformat-shared=/usr \
	--avformat-swscale \
	--luma-compress \
	--qimage-libdir=/usr/lib

%:
	dh --with quilt $@

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_install:
	dh_install --list-missing

override_dh_strip:
	dh_strip --dbg-package=libmlt-dbg
